html, body, #root, .full-screen {
  height: 100%!important;
  width: 100%!important;
}

.full-screen {
  display: flex;
  flex-direction: column;
}

body {
  background-color: #F2F2F2!important;
  overflow: auto!important;
}

.bg-grey {
  background-color: #C4C4C4;
}

.bg-almostWhite {
  background-color: #F2F2F2;
}

.flag-block {
  justify-content: center!important;
}

@media (max-width: 575px) {
  .flag-block > img {
    display: block;
    width: 100%;
  }

  .heading > h1 {
    font-size: 2.0rem!important;
  }
}

@media (min-width: 576px) {
  .flag-block > img {
    display: block;
    width: 576px;
  }
}

.heading {
  text-align: center!important;
  padding-top: 1rem!important;
}

.entry-field-label {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 1.5rem;
}

.bottom-page {
  padding-bottom: 2rem!important;
  margin-top: auto!important;
}

.right-align-div {
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
}

.centre-align-div {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  margin: 1rem;
}

/* Map */

.mapContainer {
  height: 85vh;
  padding-left: 0!important;
}

  
/* end map */


/* Start political party colours */
.pc {
  background-color: #244982;
  color: white;
}

.green {
  background-color: #4e9a2f;
  color: white;
}

.bloc {
  background-color: #143d73;
  color: white;
}

.liberal {
  background-color: #cd2003;
  color: white;
}

.ndp {
  background-color: #ec8200;
  color: white;
}
/* End political party colours */
